{{yield}}

{{#if dataManager.playingTrip}}
    {{#paper-button class="flex playback-button"  onClick=(action 'togglePlaying')}}
        {{#if isPlaying}}
            {{paper-icon 'pause'}}
        {{else}}
            {{paper-icon 'play_arrow'}}
        {{/if}}
    {{/paper-button}}
    <div class="flex">
        {{paper-slider class="md-accent" min=0 max=dataManager.tripCount value=dataManager.tripIndex onChange=(action (mut dataManager.tripIndex))}}
        <small class="date">{{moment-format (timestamp-date dataManager.data.startTime) 'dddd, MMMM Do YYYY, h:mm:ss a'}}</small>
    </div>
{{/if}}